.headbanner {
    background-image: url("/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 460px;
    width: 100%;
}
body { 
	font: 16px arial, sans-serif;
	color: #454545; 
	background-color: rgba(117, 238, 238, 0.863); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-left: 100px; 
	margin-right: 100px;
	padding: 0;
}
.blurbbox {
    margin-left: 50px;
    margin-right: 50px;
    border: #454545;
    border-width: 2px;
    display: flex;
    flex-flow: row;
    background: #dd8888;
}
.blurbbox > .blurb {
    font: 14px arial, sans-serif;
    color: #454545;
    margin: 20px;
    flex: 3 1 60%;
}
.blurbbox > .headshot {
    background-image: url("/images/portrait.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 400px;
    min-height: 524px;
    flex: 1 1 20%;
}
nav {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}